*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #3b5062;
}

/* Debug Rules */
.dbg header{
    height: 600px;
    background-color: aquamarine;
}

.dbg main{
    height: 1800px;
    background-color: cadetblue;
}

.dbg footer{
    height:600px;
    background-color: cornflowerblue;
}
/* /Debug Rules */

/* Utility classes */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 70%;
    margin: auto;
}

.bar{
    height: 75px;
    width: 100%;
}

.column_2{
    line-height: 75px;
    width: 50%;
    float: left;
}

a{
    text-decoration: none;
    margin: auto 1.5rem;
}
/* /Utility classes */

/* ______________________________________________
HEADER
___________________________________________________ */

.first{
    background-color: #f4f9fd;
}
.first a{
    color: #364c5e;
    font-size: 14px;
}

.right_menu{
    text-align:right;
}

a.empty_button{
    padding: 0.5rem;
    border: 1px solid orange;
    border-radius: 5px;
    color:orange
}

.solid.button{
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 5px;
    background-color: orange;
    color: white;
}

.language::before{
    content: "\01F30E";
    margin-right: 3px;
    
}

.language::after{
    content: "\276C";
    margin-left: 5px;
    transform: rotatex(90deg);
}
