*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #3b5062;
}

/* Debug Rules */
.dbg header{
    height: 750px;
    /* background-color: aquamarine; */
}

/* .dbg main{
    height: 1800px;
    background-color: #f4f9fd;
} */

.dbg footer{
    height:600px;
    background-color: cornflowerblue;
}
/* /Debug Rules */

/* Utility classes */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
}

.bar{
    height: 75px;
    width: 100%;
}

.column_2{
    line-height: 75px;
    width: 50%;
    float: left;
}

a{
    text-decoration: none;
    margin: auto 10px;
    line-height: 75px;
}

i{
    vertical-align: middle;
}

i.fa-chevron-down:not(:last-child){
    margin-right: 1rem;
}

.fa-search{
    color: #65c6d6;
}

.fa-check-circle{
    color: #fe775a;
    padding-right: 10px;
}

.button{
    border: 1px solid white;
    border-radius: 5px;
    background-color: #fe775a;
    color: white;
}

p{
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
}
/* /Utility classes */

/* ______________________________________________
HEADER
___________________________________________________ */

/* first nav bar */
.first{
    background-color: #f4f9fd;
}
.first a{
    color: #364c5e;
    font-size: 13px;
    font-weight: 600;
}

.first a.language{
    margin:auto 0;
}
span+a{
    margin: auto 1rem;
}

/* .left_menu span{
    margin-left: 10px;
} */

.right_menu{
    text-align:right;
}

a.empty_button{
    padding: 0.5rem 0.3rem;
    border: 1px solid #fe775a;
    border-radius: 5px;
    color:#fe775a;
    background-color: white;
}

.solid.button{
    padding: 0.6rem;
    margin-right: 0;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #fe775a;
    color: white;
}
/* /first nav bar */
.site_header hr{
    color: #d3d8dc;
}
/* second nav bar */
.second{
    background-color: white;
}

.second a{
    color: #364c5e;
    font-size: 13px;
    font-weight: 600;
}

.logo{
    vertical-align: middle;
}

/* /Second nav bar */

/* Jumbotron */
.jumbotron{
    height: 600px;
    width: 100%;
    background-image: url(../img/img/jumbotron.png);
    background-size: 1400px;
    position: relative;
    border-bottom: 2px solid #33475b;
}

.box{
    width: 40%;
    position: absolute;
    top: 70px;
    left: 10%;
}

.jumbotron .box .title{
    font-size: 40px;
    margin-bottom:20px ;
    line-height: 40px;
}

.jumbotron .box p{
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 13px;
}

.jumbotron .box a{
    margin-left: 0%;
    padding: 1rem 2rem;
    font-size: 13px;
}

.jumbotron .box p.j_small{
    font-size: 10px;
    margin-top: 15px;
}
/* /Jumbotron */
/* ______________________________________________
/HEADER
___________________________________________________ */

hr#spacebar{
    display: block;
    width: 100%;
    height: 75px;
    background-color: #afebe4;
    border-bottom: 2px solid #33475b;
    margin-bottom: 0;
}

/* ________________________________________________________
MAIN
____________________________________________________________ */

/* Rubik Section */
section.pannel_grey{
    background-color: #f4f9fd;
}
 .small.container{
    width: 60%;
    margin:auto;
}

.rubik{
    display: block;
    width: 30%;
    margin: auto;
    padding-top: 40px;
}

.main_title, .main_title+p{
    text-align: center;
}
/* /Rubik Section */

/* Float Structure Grey Pannel */
.banner{
    background-color: white;
    border: 1px solid #e8eef3;
    width: 100%;
    float: left;
    padding: 10px;
    margin: 50px 0;
    
}

.column_3{
    background-color: white;
    border: 1px solid #e8eef3;
    width: calc(90%/3);
    float: left;
    text-align: center;
    font-size: 13px;
    padding: 20px;
    margin-bottom: 50px;
}

.mx{
    margin: 0 5%;
}


/* /Float Structure Grey Pannel */

/* First Card */

/* First Card Left Side */
.card_box{
    float: left;
    width: 35%;
    text-align: center;
}

.banner_pic{
    width: 40%;
    margin: 40px auto 20px;
    display: block;
}

.card_box a.solid.button{
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    font-size: 13px;
}
/* /First Card Left Side */

/* First Card Right Side */
.text_box{
    float: left;
    width: 65%;
    padding: 40px;
}

.text_box h3:first-child{
    margin-bottom: 35px;
}
.text_box h3:nth-child(3)::after {
    content: '';
    width: 65%;
    height: 1px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}

.text_box .voice{
    font-size: 13px;
    margin-top: 5px;
}

.text_box p{
    margin-top: 25px;
    margin-bottom: 25px;
}

span.voice{
    display: inline-block;
    padding: 20px 20px 20px 0px;
}
/* /First Card Right Side */

/* Columns and cards */
.card_pic{
    height:100px;
    width: auto;
    margin: 40px auto 20px;
    display: block;
}

.column_3 h2{
    margin: 15px;
}

.column_3 p:nth-child(3)::after {
    content: '';
    width: 90%;
    margin:auto;
    margin-top: 60px;
    margin-bottom: 40px;
    height: 1px;
    background-color: black;
    display: block;
    vertical-align: middle;
}

.column_3 h3{
    margin-bottom: 40px;
}

.column_3 .compact span{
    display: block;
    padding-left: 10px;
   
}

.compact{
    text-align: left;
    margin-bottom: 30px;
}

.column_3 a.solid.button{
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    font-size: 13px;
}
/* /Columns and cards */

/* 2nd bg_blue pannel */
section.pannel_blue{
    color: white;
    background: linear-gradient(#00AAB7, #00BBA6);
    text-align: center;
    padding-top: 50px;
    
}

.pannel_blue .container h2{
    margin: 50px;
    margin-bottom: 20px;
    margin-top: 0;
}

.pannel_blue .container p{
    margin: auto;
}

.column_8.container.clearfix{
    padding: 80px;
}

.column_8 .data{
    width: 25%;
    float: left;
    padding: 40px;
    
}
.column_8 .data:not(:nth-child(5), :nth-child(6), :nth-child(7), :nth-child(8)){
    border-bottom: 1px solid #4dc8c9;
}
.column_8 .data:not(:nth-child(4), :nth-child(8)){
    border-right: 1px solid white;
}

.column_8 .data h1{
    font-size: 30px;
    margin-top: 15px;
}

.column_8 .data h1::after{
    content: "+";
    font-weight: lighter;
}

.column_8 .data p{
    font-size: 10px;
    margin: 15px auto;
}

.column_8 .data p:nth-child(6){
    margin-bottom: 0;
}
.data_icon{
    height: 25px;
    width: auto;
}
/* /2nd bg_blue pannel */

/* 3rd bg_white pannel */


/* /3rd bg_white pannel */

